/*-- scss:defaults --*/

$body-bg: #fbfbfb;
$body-color: #4e5767;
$link-color: #42affa;
$presentation-title-slide-text-align: left;

// fonts
$font-family-sans-serif: "Futura", Futura,
  FreeSerif, serif !default;
$presentation-h1-font-size: 48px;
$presentation-h2-font-size: 40px;

/*-- scss:rules --*/

.title {
  font-size: 90px !important;
  text-align: left !important;
  color: #425823 !important;
  line-height: 95px !important;
}

.subtitle {
  font-size: 75px !important;
  text-align: left !important;
  color: #1F5673 !important;
  line-height: 90px !important;
}

.quarto-title-author-name {
  font-size: 40px;
  text-align: left !important;
  color: #425823 !important;
  line-height: 45px !important;
  margin-top: 100px;
}

.quarto-title-author {
  margin-right: 130px;
}

.quarto-title-affiliation {
  font-size: 30px;
  text-align: left;
  color: #425823 !important;
  line-height: 30px !important;
}

.reveal .aside-footnotes {
  font-size: 20px;
  text-align: left;
  color: #425823 !important;
  line-height: 25px !important;
}

.reveal .slide aside {
  font-size: 10px;
  text-align: left;
  color: #425823 !important;
  line-height: 25px !important;
}

.date {
  font-size: 25px;
  text-align: left;
  color: #425823 !important;
}

.reveal .footer {
  font-size: 0.30em !important;
  color: #425823;
}

.slides {
    font-size: 30px;
    color: #4e5767 !important;
}

.reveal .slide-number {
    font-size: 10px !important;
    color: #425823 !important;
}

.reveal section h1 {
  color: #1F5673;
}

.reveal section h2 {
  color: #425823;
}

.slides h6 {
    font-size: 35px !important;
    font-weight: 100;
    color: #4e5767 !important;
}

.reveal figure figcaption,
.reveal .figure-caption {
  text-align: center !important;
  font-size: 15px !important;
  color: #4e5767 !important;
}

.reveal figure {
  text-align: center;
}

.reveal .smaller p,
.reveal .smaller li {
  font-size: 1.1em !important;
}